<?xml version="1.0"?>
<launch>
    <!-- Start interactive positioning of pattern -->
    <arg name="sim" default="true" />
    <arg name="gui" default="true" doc="Starts gazebo gui" />
    <arg name="paused" default="false" doc="Starts gazebo in paused mode" />

    <arg name="name" default="zau2" />
    <arg name="x_pos" default="0.0" />
    <arg name="y_pos" default="0.0" />
    <arg name="z_pos" default="0.0" />
    <arg name="roll" default="0" />
    <arg name="pitch" default="0" />
    <arg name="yaw" default="0.0" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" default="worlds/empty.world" /> -->
        <arg name="world_name" default="$(find zau2_description)/worlds/zau2.world" />           
        <arg name="paused" value="$(arg paused)" />
        <arg name="gui" value="$(arg gui)" />
    </include>
 
</launch>