<?xml version="1.0"?>
<launch>
    <!-- arguments -->
    <arg name="sim" default="true" />
    <arg name="gui" default="true" doc="Starts gazebo gui" />
    <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
    <arg name="moveit" default="true" doc="Use MoveIt for motion planning"/>

    <arg name="name" default="zau2" />
    <arg name="x_pos" default="0.0" />
    <arg name="y_pos" default="0.0" />
    <arg name="z_pos" default="0.0" />
    <arg name="roll" default="0" />
    <arg name="pitch" default="0" />
    <arg name="yaw" default="0.0" />

    <!-- start simaulated world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" default="$(find zau2_description)/worlds/zau2.world" />           
        <arg name="paused" value="$(arg paused)" />
        <arg name="gui" value="$(arg gui)" />
    </include>

    <!-- robot description parameter -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find zau2_description)/urdf/zau2.urdf.xacro" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <param name="use_gui" value="true"/>
    </node>
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find zau2_description)/rviz/view_robot.rviz" required="true" />

    <!-- Send robot states to tf -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    </node>

    <!-- spawn the robot -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg name) 
        -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)
        -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)
        -param robot_description" />

    <!-- Start planning with moveit-->
    <group if="$(arg moveit)">
        <include file="$(find ur10_e_moveit_config)/launch/ur10_e_moveit_planning_execution.launch">
            <arg name="sim" value="$(arg sim)"/>
            <!-- <arg name="load_robot_description" value="false"/> -->
        </include>
    </group>

</launch>